<h1>Welcome to the Quiz</h1>

brief instructions
yada yada yada
<br>
<p>Cooking can be a boring daily routine for many people. However, it is actually a big world with creative recipes and complicated techniques. The ultimate goal is to create tasty, flavourful, and nutritious dishes. Test your culinary knowledge with the following trivia cooking quiz questions and answers.</p>
<a href= '/quiz/play'>Start Quiz</a>