<h1>Welcome to the Quiz</h1>
<div align="center">
<img src= "https://thumbs.dreamstime.com/b/blue-banner-cooking-top-view-blue-banner-cooking-top-view-free-copy-space-164719911.jpg"  alt= " Utensils on wooden table" >
<br>
</div>
<div>
<h5>Cooking can be a boring daily routine for many people. However, it is actually a big world with creative recipes and complicated techniques. The ultimate goal is to create tasty, flavourful, and nutritious dishes. Test your culinary knowledge with the following trivia cooking quiz questions and answers.</h5>
</div>
<div align="center"><a href= '/quiz/play'><h3>Start Quiz</h3></a>
</div>