Quizes will be shown here
<br>
User a shown a quiz, and chooses between multipe choice answers
<br>
if answer choice is correct, answer lights up green( tell them they were correct)<br>
    <br>
if incorrect choice will be red, with correct answer in green<br>
<br>
    user will be prompted to continue or exit

    <h2>Cooking Quiz Questions and Answers</h2>  

<p></p>
<hr>
<h3>
1. What do we call the process of submerging veggies or fruits quickly in boiling water?
    </h3>
    <p>A. Soaking</p>
    <p>B. Blanching</p>
    <p>C. Shocking</p>
    <div class="su-spoiler su-spoiler-style-default su-spoiler-icon-plus su-spoiler-closed" data-scroll-offset="0"><div class="su-spoiler-title" tabindex="0" role="button"><span class="su-spoiler-icon"></span>Click to see the correct answer</div><div class="su-spoiler-content su-u-clearfix su-u-trim">Answer: B. Blanching</div>
    </div>
    <hr>


    <h3>2. A roux is often added while cooking to help thicken sauces or soups. What are the main ingredients of this sauces?</h3>
    <p>A. Flour and butter</p>
    <p>B. Flour and egg</p>
    <p>C. Flour and water</p>
    <div class="su-spoiler su-spoiler-style-default su-spoiler-icon-plus su-spoiler-closed" data-scroll-offset="0"><div class="su-spoiler-title" tabindex="0" role="button"><span class="su-spoiler-icon"></span>Click to see the correct answer</div><div class="su-spoiler-content su-u-clearfix su-u-trim">Answer: A. Flour and butter</div>
    </div>
    <hr>

    <h3>3. Which of the following kinds of pasta has its name meaning “little worms” in Italian?</h3>
    <p>A. Spaghetti</p>
    <p>B. Fidelini</p>
    <p>C. Vermicelli</p>
    <div class="su-spoiler su-spoiler-style-default su-spoiler-icon-plus su-spoiler-closed" data-scroll-offset="0"><div class="su-spoiler-title" tabindex="0" role="button"><span class="su-spoiler-icon"></span>Click to see the correct answer</div><div class="su-spoiler-content su-u-clearfix su-u-trim">Answer: C. Vermicelli</div>
    </div>
    <hr>

    <h3>4. Which dish do we have when cooking beef in puff pastry?</h3>
        <p>A. Baklava</p>
        <p>B. Beef Wellington</p>
        <p>C. Shepherd’s Pie</p>
    <div class="su-spoiler su-spoiler-style-default su-spoiler-icon-plus su-spoiler-closed" data-scroll-offset="0"><div class="su-spoiler-title" tabindex="0" role="button"><span class="su-spoiler-icon"></span>Click to see the correct answer</div><div class="su-spoiler-content su-u-clearfix su-u-trim">Answer: B. Beef Wellington</div>
    </div>
    <hr>

    <h3>5. We all know most types of carrots are now orange, but what were their original colours in the past?</h3>
    <p>A. Red</p>
    <p>B. Green</p>
    <p>C. Purple</p>
    <div class="su-spoiler su-spoiler-style-default su-spoiler-icon-plus su-spoiler-closed" data-scroll-offset="0"><div class="su-spoiler-title" tabindex="0" role="button"><span class="su-spoiler-icon"></span>Click to see the correct answer</div><div class="su-spoiler-content su-u-clearfix su-u-trim">Answer: C. Purple</div>
    </div>
    <hr>

