<h1>What is Crecipe?</h1>
<div align="center">
<img src="https://thumbs.dreamstime.com/b/ingredients-cooking-pizza-pasta-dough-heart-shape-ingredients-cooking-pizza-pasta-dough-heart-shape-109554030.jpg" alt="cooking photo">
<h5>Founded by Allene Norton and Cedric Patton, Crecipe is a uniquely innovative way for cooking enthusiasts to explore original recipe ideas, rate and add them to your favorites. And users can even create and share their own recipe creations!<h5/>
<br>
<h5>With Crecipe, you can hone your cooking skills and release the inner chef within you! Wanna become the next Bobby Flay or Gordan Ramsey? Well you should probably go to a culinary school...but Crecipe is a great start!  </h5>
</div>