<h1>Welcome!</h1>
<h3>You are currently logged in as <%= @user.email %></h3>
<br><br>
<h2>My Recipes</h2>
<% @user.recipes.each do |recipe| %>
  <%= link_to recipe.name, recipe_path(recipe) %>
<% end %>
<br><br>
<h2>Favorites</h2>
<ul>
<% current_user.favorites.each do |fav| %>
    <li>Name: <%= fav.recipe.name %> </li>
    </ul>
<% end %>
<br><br>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>